<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ page_title }}</title>
        {{ content_for_header }}
        <link rel="stylesheet" href="{{ 'output.css' | asset_url }}">
        <script src="{{ 'bundle.js' | asset_url }}" defer></script>
    </head>

    <body>
        {{ content_for_layout }}
    </body>
</html>
